.gallery {
    padding: 40px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    @media(min-width: $medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: $large) {
        grid-template-columns: repeat(3, 1fr);

    }

    // @media(min-width: $xlarge) {
    //     grid-template-columns: repeat(4, 1fr);

    // }
    .h1 {
        grid-column: 1/-1;
        padding-bottom: 15px;
    }

    &__img-container {
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .3s;

        &:hover {
            transform: scale(1.2);
        }
    }
}